@import url('https://fonts.googleapis.com/css2?family=Poppins+Regular&display=swap');


.bigdiv {
    height: 40px;
    width: 200px;
    position: relative;
    top: 20%;
    left: 5%;
    display: flex;
    flex-wrap: nowrap;
}

.logodiv {
    height: fit-content;
    width: fit-content;
    position: absolute;
}

.textdiv {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 25%;
    top: 10%;
}

#text {
    color: white;
    font-size: 32px;
    font-family: "Poppins Regular", sans-serif;
}

#logoimage {
    height: 27px;
    width: 27px;
    margin-top: 9px;
    margin-left: 9px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(104%) contrast(101%);
}