.bigdiv {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    /*     align-items: center;
 */
    gap: 15px;
}

.logodiv {
    height: fit-content;
    width: fit-content;
}

.textdiv {
    height: fit-content;
    width: fit-content;
}

#text {
    font-size: 3rem;
    font-family: "Poppins Regular", sans-serif;
    font-weight: bolder;
    margin-top: 5px;

}

#logoimage {
    height: 3rem;
    width: 3rem;
    margin-top: 9px;
}